.btn{
	display: inline-block;
	padding: 10px 20px;
	border-radius: 6px;
	border: 1px solid #0366d6;
	background: #0366d6;
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin: 5px;
}

.btn:hover{
	background: #024ea4;
 	border-color: #024ea4;
}